# This is a sample .env file for use in local development.
# rename this file to .env
# and update the environment variables to match your token.
# See the README for full descriptions of each of the
# available configurations.


BOT_TOKEN=YOUR_BOT_TOKEN
WEATHER_TOKEN=YOUR_WEATHER_TOKEN
APP_ID=YOUR_APP_ID
APP_KEY=YOUR_APP_KEY